/* Font Google - strong reload time */
@import url(http://fonts.googleapis.com/css?family=Roboto:500,900,100,300,700,400);

html, body {
    position:relative;
    width:100%;
    height:100%;
    background:#060606;
    margin:0;
    padding:0;
    font-family:'Roboto';
}

#container {
    position:relative;
    top:50%;
    -webkit-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    -o-transform:translateY(-50%);
    transform:translateY(-50%);
}

#header {
    display:none;
	text-align: center;
	font-size: 8vw;
	color: #FFFFFF;
}

#subheader {
    text-align: center;
	font-size: 4vw;
	color: #FFFFFF;
    opacity:0.0;
}

#links {
	text-align: center;
	font-size: 3vw;
	color: #FFFFFF;
    opacity:0.0;
}

a:link {
	text-decoration:none;
	color: #007aff;
}

a:visited {
	color: #007aff;
}

a:hover {
    text-decoration: underline;
}