body {
	font-family: "Arial";
	background-color: #060606;
	margin-top: 20%;
	margin-bottom: 25=0%;
}

.main-header {
	text-align: center;
	font-size: 80px;
	color: #FFFFFF;
}

.main-subheader {
    text-align: center;
	font-size: 40px;
	color: #FFFFFF;
}

.main-links {
	text-align: center;
	font-size: 30px;
	color: #FFFFFF;
}

a:link {
	text-decoration:none;
	color: #2A9FD6;
}

a:visited {
	color: #2A9FD6;
}

a:hover {
    text-decoration: underline;
}