html {
  background: url("bg.png") repeat;
}

body {
  border-top: 10px solid #121212;
  font: 13px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4;
  color: #666;
  min-width: 960px;
}

h1 {
  font-weight: normal;
  font-size: 20px;
  color: #333;
}

h2 {
  font-weight: normal;
  font-size: 18px;
  color: #0084b4;
}

a:link, a:visited {
  color: #0084b4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#wrapper {
  position: relative;
  width: 960px;
  margin: 0 auto;
  padding: 20px 0;
}

#main {
  height: 250px;
  text-align: center;
  margin-top:150px;
}

#main img {
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  -ms-border-radius:50%;
  -o-border-radius:50%;
  border-radius:50%;

  margin-top:-95px;

  -moz-box-shadow:    0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  box-shadow:         0px 0px 5px 1px rgba(0, 0, 0, 0.1);
}

#main, div.header, li.repo {
  background: white;
  background: rgba(255, 255, 255, 0.7);
  -moz-box-shadow:    0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  box-shadow:         0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

#main h1 {
  margin: 20px 15px 0;
  font-size: 20pt;
}

#main h3 {
  font-size: 12pt;
}

#main p {
  margin: 0 20px 0px 20px;
  font-size: 11pt;
  line-height: 2;
}

#logo {
  width: 190px;
  height: 64px;
  margin: 15px 0 0 15px;
  background: url("logo.png");
  text-indent: -99999px;
}

#logo h1 {
  margin: 0;
}

div.header {
  height: 130px;
}

div.header h1, div.header p {
  margin: 10px 15px 0;
}

div.header h1 {
  margin-bottom: 10px;
}

#num-repos, #num-members {
  font-size: 14px;
  font-weight: bold;
  color: #0084b4;
  line-height: 15px;
}

#statistics a:link, #statistics a:visited {
  color: inherit;
}

#statistics p.email {
  margin-top: 6px;
  font-size: 11px;
}

#recently-updated h1 a {
  font-weight: normal;
  font-size: 11px;
}

#recently-updated-repos {
  margin-left: 15px;
}

#recently-updated-repos li {
  line-height: 1.5;
}

#recently-updated-repos li span {
  display: inline-block;
  padding: 0 1px;
}

#recently-updated-repos li span {
  font-size: 11px;
}

#recently-updated-repos li span.name {
  padding: 0 6px 0 0;
  font-size: 13px;
}

#recently-updated-repos li span.time a,
#recently-updated-repos li span.watchers a,
#recently-updated-repos li span.forks a {
  color: #999;
}

li.repo {
  height: 250px;
}

li.repo > a {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
}

li.repo a:hover {
  background: #efefef;
  background: rgba(0, 0, 0, 0.05);
}

li.repo h2, li.repo h3, li.repo p {
  margin: 10px 15px;
}

li.repo h2 {
  margin-bottom: 2px;
  max-width: 160px;
  overflow: hidden;
}

li.repo h3 {
  font-size: 11px;
  margin-top: 2px;
  margin-bottom: 15px;
  color: #999;
}

.repo:after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  border-bottom: 40px solid transparent;
  border-left: 40px solid transparent;
  border-right: 40px solid #0080b0;
  pointer-events: none;
}

.repo.javascript:after {
  border-right-color: #333;
}

.repo.scala:after {
  border-right-color: #7ac9de;
}

.repo.ruby:after {
  border-right-color: #cc1100;
}

.repo.java:after {
  border-right-color: #cc8300;
}

.repo.python:after {
  border-right-color: #6aad2d;
}

.repo.php:after {
  border-right-color: #aa00d4;
}

.repo.c\+\+:after {
  border-right-color: lime;
}

.repo.prolog:after {
  border-right-color: #001EFD;
}

.repo.assembly:after {
  border-right-color: #FCFC00;
}

.repo.viml:after {
  border-right-color: #0A00FF;
}
